@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-black: #2F2A28;
    --color-gold: #F9AE00;
    --color-teracotta: #EAA182;
    --color-white: #EEF9F0;
    --color-brown: #4A2011;

    --text-body-callout: 56px;
    --text-body-display: 48px;
    --text-body-regular: 36px;
    --text-body-small: 24px;
    --text-body-xs: 21px;

    --font-headings: 'Josefin Sans', sans-serif;
    --font-body: 'Inter', sans-serif;

    --spacing-section: 8rem;

    --shadow-base: 8px 8px 0 0 var(--color-brown);
    --shadow-hover: 12px 12px 0 0 var(--color-brown);

    --animate-slide-up: slide-up 1s ease-out both;;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
    margin: 0;
    background-color: #EEF9F0;
}

@layer base {
  html {
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
    font-weight: 600;
  }

  h1 { font-size: 96px; } h2 { font-size: 64px; } h3 { font-size: 48px; } h4 { font-size: 40px; } h5 { font-size: 32px; } h6 { font-size: 24px; }

  p {
    font-family: var(--font-body);
    font-weight: 400;
  }
}